.about {
    background-color: #fafbfc;
    padding: 0px 0px 20px;
}
.about-items-container {
    display: flex;
    justify-content: center;
    padding: 0px 0px 50px;
}
.about-item {
    width: 30%;
    text-align: center;
    padding: 0px 20px;
}
.about-item-title {
    padding: 10px 0px;
    font-size: 26px;
    color: #292929;
    font-family: 'Dosis', sans-serif;
}
.about-item-text {
    padding: 10px 0px 20px;
    color: #7c8595;
    font-weight: 400;
    line-height: 28px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}
.about-image-container {
    width: 200px;
    margin: auto;
}
.about-item img {
    width: 100%;
}
.about-item-button {
    font-family: 'Dosis', sans-serif;
    outline: none;
    font-size: 16px;
    color: #1089d4;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #1089d4;
    border-radius: 5px;
    background-color: white;
    font-weight: 700;
    transition: all 0.5s;
    cursor: pointer;
}
.about-item-button:hover {
    color: white;
    background-color: #1089d4;
}
.about-chart {
    display: flex;
    padding: 100px;
    background-color: white;
    border-top: 1px solid #efefef;
    justify-content: center;
}
.about-chart-left {
    width: 50%;
    padding: 30px;
}
.about-chart-right {
    width: 500px;
}
.about-chart-right img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 8px 40px 0 rgb(0 0 0 / 37%);
}
.about-chart-item {
    display: flex;
    padding: 0px 0px 30px;
}
.chart-item-icon {
    font-size: 40px;
    color: #017df7;
    background-color: #fcfcfc;
    border: 1px solid #eaeaea;
    line-height: 80px;
    text-align: center;
    padding: 0px 20px;
    margin: 0px 20px 20px 0px;
    position: relative;
    height: 80px;
    border-radius: 50%;
}
.chart-item-title {
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    padding: 0px 0px 10px;
}
.chart-item-text {
    font-family: 'Dosis', sans-serif;
    color: #7c8595;
    font-size: 20px;
    line-height: 1.5;
}
@media screen and (max-width: 1200px) {
    .about-chart {
        padding: 100px 20px;
    }
    .about-chart-left {
        padding: 30px 10px;
    }
    .about-chart-right {
        width: 400px;
    }
}
@media screen and (max-width: 992px) {
    .about-chart {
        flex-wrap: wrap;
    }
    .about-chart-left {
        width: 70%;
    }
    .about-chart-right {
        width: 70%;
    }
}
@media screen and (max-width: 768px) {
    .about-items-container {
        flex-wrap: wrap;
    }
    .about-item {
        width: 80%;
        margin: auto;
        padding: 40px 0px;
    }
    .about-chart-left {
        width: 90%;
    }
    .about-chart-right {
        width: 90%;
    }
}