@import url('https://fonts.googleapis.com/css2?family=Dosis');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
* {
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.home {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #efefef;
    padding: 50px 0px 20px;
}
.home-left {
    width: 600px;
    padding: 100px 20px;
}
.home-right {
    width: 400px;
}
.home-right img {
    width: 100%;
}
.home-title {
    color: #071e55;
    font-family: 'Dosis', sans-serif;
    line-height: 1.5;
}
.home-text {
    font-family: 'Open Sans', sans-serif;
    color: #405263;
    line-height: 1.5;
    padding: 20px 0px; 
}
.home-button {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: #1089d4;
    padding: 15px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 40px 0 rgb(0 0 0 / 37%);
    transition: all 0.5s;
}
.home-button:hover {
    background-color: #007bff;
    box-shadow: 0px 8px 40px 0 rgb(0 0 0 / 60%);
    cursor: pointer;
}
@media screen and (max-width: 1200px) {
    .home-left {
        padding: 50px 20px;
    }
    .home {
        width: 95%;
    }
}
@media screen and (max-width: 992px) {
    .home-left {
        width: 400px;
    }
}
@media screen and (max-width: 768px) {
    .home {
        flex-wrap: wrap;
    }
    .home-left {
        width: 90%;
        margin: auto;
    }
    .home-right {
        width: 90%;
        margin: auto;
    }
}