.pricing {
    background-color: #fafbfc;
}
.pricing-items {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    padding: 50px 0px;
}
.pricing-item {
    width: 30%;
    padding: 50px 0px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgb(33 33 33 / 6%) 0 4px 24px 5px;
    transition: all 0.5s;
}
.pricing-item:hover {
    transform: scale(1.1);
}
.pricing-item h3 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #071e55;
    line-height: 24px;
    font-weight: 700;
    font-size: 20px;
    padding: 25px 0px;
}
.pricing-item h1 {
    text-align: center;
    color: #071e55;
    font-size: 70px;
    line-height: 70px;
    margin-top: -10px;
    font-family: 'Dosis', sans-serif;
    padding: 15px 0px;
}
.pricing-item p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #6a6a6a;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 0px 0px 20px;
}
.pricing-benefits {
    width: 80%;
    margin: auto;
}
.pricing-item i {
    padding: 0px 5px;
    color: #017df7;
}
.pricing-item span {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #6a6a6a;
}
.pricing-button-container {
    text-align: center;
    padding: 30px 0px 0px;
}
.pricing-item-button {
    color: #1e90ff;
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    border: 1px solid #1e90ff;
    padding: 15px 30px;
    font-weight: 500;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.pricing-item-button:hover {
    background-color: #1e90ff;
    color:white;
}
.pricing-quote {
    display: flex;
    padding: 100px 100px 0px;
    justify-content: center;
    background-color: white;
    border: 1px solid #efefef;;
}
.pricing-quote-left {
    width: 50%;
}
.pricing-quote-right {
    width: 400px;
}
.pricing-quote-right img {
    width: 100%;
    height: 100%;
}
.pricing-item-quote {
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    color: #7c8595;
    font-weight: 50;
    line-height: 38px;
    font-size: 28px;
    margin: 10px 0px 20px; 
    text-align: center;
}
.pricing-item-author {
    text-align: center;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    color: #071e55;
    padding: 5px 0px 10px;
}
.pricing-item-position {
    text-align: center;
    color: #017df7;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}
.pricing-logos {
    text-align: center;
    background-color: #fafbfc;
    padding: 50px;
}
.pricing-logos-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing-logos-title {
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    color: #071e55;
    font-weight: 600;
}
.pricing-logos-item {
    max-width: 200px;
    opacity: 0.5;
    margin: 30px;
    transition: all 0.5s;
}
.pricing-logos-item:hover {
    opacity: 1;
}
.pricing-logos-item img {
    width: 100%;
}
.pricing-questions {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    border: 1px solid #efefef;
}
.pricing-questions-left {
    width: 600px;
    padding: 20px;
}
.pricing-questions-right {
    width: 40%;
    padding: 20px;
}
.pricing-questions-left img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 8px 40px 0 rgb(0 0 0 / 20%);
}
.pricing-questions-title {
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    color: #071e55;
    padding: 0px 0px 20px;
}
.pricing-question {
    font-family: 'Dosis', sans-serif;
    color: #071e55;
    font-weight: 600;
    font-size: 19px;
    padding: 10px;
    border-bottom: 1px solid rgb(239, 239, 239);
}
@media screen and (max-width: 1200px) {
    .pricing-items {
        width: 95%;
    }
}
@media screen and (max-width: 992px) {
    .pricing-items {
        flex-wrap: wrap;
    }
    .pricing-item {
        width: 70%;
        margin: 0px auto 30px;
    }
    .pricing-quote-left {
        width: 60%;
    }
    .pricing-quote-right {
        width: 300px;
        padding-top: 20px;
    }
    .pricing-quote {
        padding: 50px 50px 0px;
    }
    .pricing-item-quote {
        font-size: 25px;
    }
    .pricing-questions-left {
        width: 400px;
    }
}
@media screen and (max-width: 768px) {
    .pricing-quote {
        flex-wrap: wrap;
    }
    .pricing-quote-left {
        width: 100%;
    }
    .pricing-quote-right {
        width: 100%;
    }
    .pricing-logos-items {
        flex-wrap: wrap;
    }
    .pricing-logos-item {
        width: 40%;
    }
    .pricing-questions {
        flex-wrap: wrap;
    }
    .pricing-questions-left {
        width: 95%;
        margin: auto;
    }
    .pricing-questions-right {
        width: 95%;
        margin: auto;
    }
}