.pricing {
    background-color: #fafbfc;
}
.pricing-items {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    padding: 50px 0px;
}
.pricing-item {
    width: 30%;
    padding: 50px 0px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgb(33 33 33 / 6%) 0 4px 24px 5px;
    transition: all 0.5s;
}
.pricing-item:hover {
    transform: scale(1.1);
}
.pricing-item h3 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #071e55;
    line-height: 24px;
    font-weight: 700;
    font-size: 20px;
    padding: 25px 0px;
}
.pricing-item h1 {
    text-align: center;
    color: #071e55;
    font-size: 70px;
    line-height: 70px;
    margin-top: -10px;
    font-family: 'Dosis', sans-serif;
    padding: 15px 0px;
}
.pricing-item p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #6a6a6a;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 0px 0px 20px;
}
.pricing-benefits {
    width: 80%;
    margin: auto;
}
.pricing-item i {
    padding: 0px 5px;
    color: #017df7;
}
.pricing-item span {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #6a6a6a;
}
.pricing-button-container {
    text-align: center;
    padding: 30px 0px 0px;
}
.pricing-item-button {
    color: #1e90ff;
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    border: 1px solid #1e90ff;
    padding: 15px 30px;
    font-weight: 500;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.pricing-item-button:hover {
    background-color: #1e90ff;
    color:white;
}