.showcase {
    background-color: #1e90ff;
    padding: 50px 0px;
}
.showcase-items {
    display: flex;
    justify-content: center;
    padding: 20px 50px;
}
.showcase-item {
    width: 23%;
    box-shadow: rgb(33 33 33 / 6%) 0 4px 24px 5px;
    border: 8px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 0px 20px;
}
.showcase-item img {
    width: 100%;
    height: 100%;
}
.showcase-title h2 {
    color: white !important;
}
.showcase-title p {
    color: white !important;
}
.showcase-carousel {
    position: relative;
    transition: all 0.5s;
}
.showcase-next-slide {
    position: absolute;
    top: 50%;
    right: 10%;
    background: transparent;
    border: none;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
}
.showcase-prev-slide {
    position: absolute;
    top: 50%;
    left: 10%;
    background: transparent;
    border: none;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
}
.showcase-items {
    display: none;
}
.showcase-active-slide {
    display: flex !important;
}
.showcase-active-index {
    color: red;
}
.showcase-index-container {
    display: flex;
    justify-content: center;
}
.showcase-index-slide {
    width: 30px;
    height: 5px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.5;
    margin: 10px 2px;
}
.showcase-active-index {
    opacity: 1;
}
.showcase-active-slide {
    display: block;
}
@media screen and (max-width: 992px) {
    .showcase-items {
        padding: 20px 0px;
    }
}
@media screen and (max-width: 768px) {
    .showcase-items {
        flex-wrap: wrap;
    }
    .showcase-item {
        width: 70%;
        margin: 20px auto;
    }
}