.top-title-container {
    padding: 20px 0px 0px;
}
.top-title {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: #071e55;
    line-height: 1.2;
    padding: 20px 0px;
    width: 70%;
    margin: auto;
}
.top-text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #7c8595;
    padding: 0px 0px 50px;
    width: 70%;
    margin: auto;
    line-height: 1.5;
}